# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
[tool.bandit]
exclude_dirs = ["/venv/"]
[tool.bandit.assert_used]
skips = ["tests/**"]

# Testing tools configuration
[tool.coverage.run]
branch = true

[tool.coverage.report]
fail_under = 90
show_missing = true

# Formatting tools configuration
[tool.black]
line-length = 99
target-version = ["py38"]

[tool.isort]
line_length = 99
profile = "black"

# Linting tools configuration
[tool.flake8]
max-line-length = 99
max-doc-length = 99
max-complexity = 10
exclude = [".git", "__pycache__", ".tox", "build", "dist", "*.egg_info", "venv"]
select = ["E", "W", "F", "C", "N", "R", "D", "H"]
# Ignore W503, E501 because using black creates errors with this
ignore = ["W503", "E501"]
# Ignore D104 Missing docstring in public package __init__
# DCO020, DCO030: Ignore missing args in docstring in mocks
per-file-ignores = [
    "tests/unit/__init__.py:D104",
    "tests/**:DCO020,DCO030,DCO050,DCO060,D205,D212"
]
docstring-convention = "google"
# Check for properly formatted copyright header in each file
copyright-check = "True"
copyright-author = "Canonical Ltd."
copyright-regexp = "Copyright\\s\\d{4}([-,]\\d{4})*\\s+%(author)s"

[tool.pytest.ini_options]
markers = [
    "slow: marks slow and not very important tests",
    "requires_secret: mark tests that require external secrets"
]

[tool.mypy]
ignore_missing_imports = true
allow_redefinition = true

[tool.pylint.'MESSAGES CONTROL']
disable = "too-few-public-methods,too-many-arguments,too-many-lines,line-too-long,fixme"
