cosl
juju>=2.9,<3
kubernetes>=25.3,<26
pillow
pytest==8.1.1
pytest-cov
pytest-operator
python-keystoneclient
python-swiftclient
requests
types-PyYAML
types-requests
websockets<14.0 # https://github.com/juju/python-libjuju/issues/1184
