cosl
juju>=3.2.2
kubernetes>=25.3,<26
macaroonbakery==1.3.1
pillow
pytest==8.1.1
pytest-cov
pytest-operator
python-keystoneclient
python-swiftclient
requests
types-PyYAML
types-requests
websockets<14.0 # https://github.com/juju/python-libjuju/issues/1184
