name: integration-tests

on:
  pull_request:
  workflow_call:

jobs:
  integration-test:
    name: Integration Test
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      extra-arguments: >-
        --openstack-rc=${GITHUB_WORKSPACE}/openrc
        --kube-config=${GITHUB_WORKSPACE}/kube-config
        --screenshot-dir=/tmp
      modules: '["test_addon", "test_core", "test_external", "test_ingress", "test_cos_grafana", "test_cos_loki", "test_cos_prometheus"]'
      pre-run-script: |
        -c "sudo microk8s enable hostpath-storage
          sudo microk8s kubectl -n kube-system rollout status -w deployment/hostpath-provisioner
          sudo microk8s config > ${GITHUB_WORKSPACE}/kube-config
          chmod +x tests/integration/pre_run_script.sh
          ./tests/integration/pre_run_script.sh"
      setup-devstack-swift: true
      trivy-image-config: ./trivy.yaml
      channel: 1.31/stable
      tmate-debug: true
      tmate-timeout: 60
