name: Publish to edge

on:
  push:
    branches:
      - main

jobs:
  test-and-publish-charm:
    uses: canonical/operator-workflows/.github/workflows/publish_charm.yaml@main
    secrets: inherit
    with:
      channel: latest/edge
