# This is a workflow to generate materials and run a Spread test on the tutorial

name: 'Test the tutorial with Spread'

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'docs/tutorial.md'

jobs:
  run-spread-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        spread_job: ['github-ci:ubuntu-24.04-64:tests/spread/tutorial']
    steps: 
    - name: Checkout repo
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Update task.yaml
      run: |
        python3 create_spread_task_file.py docs/tutorial.md tests/spread/tutorial/
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.24
    - name: Install spread
      run: |
        go install github.com/snapcore/spread/cmd/spread@latest
    - name: Run tests
      run: |
        sudo adduser --gecos "" --disabled-password ubuntu
        echo "ubuntu:ubuntu" | sudo chpasswd
        spread ${{ matrix.spread_job }}

